body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-size: cover;
    background: url();
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}



header {
    background-color: #3d3333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    background: url(https://cdn.pixabay.com/photo/2022/06/30/00/25/dev-7292707_1280.png);
    background-size: cover;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:#0056b3;
}

section {
    padding: 50px 0;
    
}

.caracteristica {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
}

.caracteristica h3 {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.testimonio {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    
}

.testimonio p {
    font-style: italic;
}

.testimonio cite {
    font-weight: bold;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color:#007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background: url(https://images.pexels.com/photos/169789/pexels-photo-169789.jpeg);
    background-size: 50%;
}